/* font-family: 'Russo One', sans-serif; */
.contenedor{
    background-color: white;
    border: 2px solid black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    }
    .roja{
        background-color: red;
        width: 200px;
        height: 200px;
        font-family: 'Russo One', sans-serif;
        font-size: 24px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .naranja{
        background-color: orange;
        width: 200px;
        height: 200px;
        font-family: 'Russo One', sans-serif;
        font-size: 24px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .verde{
        background-color: green;
        width: 200px;
        height: 200px;
        font-family: 'Russo One', sans-serif;
        font-size: 24px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }